/* =========== Total Page =============== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inria, serif;
    background-color: #F0F0F0;
    color: #000000;
    line-height: 1.6;        
    font-size: 1rem
}

img {
  border-radius: 8px;  /* Rounds the corners of all images slightly (8px radius) */
  margin-top: 10px;    /* Adds 10px of space above each image */
  display: block
}

html {
  scroll-behavior: smooth;       /* Smooth scrolling for anchor links */
  font-size: 16px;               /* Establish a base for rem units */
}

        /*===== Headers =====*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.2;}

h1, h2 {
    color: #800000;
    margin-bottom: 20px;
}
section { margin-bottom: 60px;}

h1 { color: #89262C;}

h2 {color: #AC5F60;}

h3 {color:#000000    /*#CF9893;    the light pink color*/  
}


/* ====== Website Header ====== */

header {
    background-color: #89262C;
    color: #FFFFFF;
    padding: 0px 20px;
    text-align: center;
    min-height: 100px; /* Gives a solid visual “block” */
}

.header-container { 
     text-align: center;
     padding: 10px 20px;
    }

header h1 {
      font-size: 36px;
      color: white;
      align-items: center;
      text-align: center
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;  /*width: auto; height: auto;*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    }

/* ======== Navigation Buttons ========= */
nav {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}  

nav a {
   background-color: #CF9893;
   color: #FFFFFF;
   border-radius: 25px;
   padding: 10px 18px;
   text-decoration: none;
   font-weight: bold;
   font-size: 1rem;
} 

/* Button-style links */
.nav-buttons {
      display: flex;
      gap: 15px;
      /*flex-wrap: wrap;
      justify-content: center;
      flex: 1;
    }

    .nav-buttons button {
      background-color: #1b1817;
      border: none;
      border-radius: 25px;
      padding: 10px 20px;
      font-size: 1rem;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease; */
    }

.nav-button {
  background-color: #CF9893; /* Nav button color */
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  justify-content: center;
  align-items: center;
}
    .nav-buttons button:hover {
     background-color: #AC5F60; /* Hover color */
     transform: translateY(-2px);
    }

/*============= Main Overall Colors ============ */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}







